@charset "UTF-8";

*{
    --cor1: #17171a;
    --cor2: #fe6055;
    --cor3: #dfe4da;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: var(--cor3);
}

body{
    background-color: var(--cor2);
    width: 90vw;
    height: 80vh;
}

h1{
    text-align: center;
    padding-top: 8px;
}

h2{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    padding-bottom: 15px;
}

fieldset{
    padding: 8px;
}

input{
    margin: 3px;
    color: black;
}
input#nome{margin-left: 9px;}
input#idade{margin-left: 12px;}
input#peso{margin-left: 8px;}

p{
    padding-top: 5px;
    padding-bottom: 12px;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    width:  80vw;
    max-width: 400px;
    background-color: var(--cor1);
    border-radius: 13px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.603);
    transform: translate(-50%, -50%);
    transition: width .11s, height .11s;
    transition-timing-function: ease;
}

section#resp{
    top: 80%
}

button{
    background-color: var(--cor2);
    margin: 8px 2.5px;
    padding: 6px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: var(--cor2);
}